@use "../../base.module.scss";
.testimonial {
    margin: 0 auto;
    position: relative;
    background-image: url(https://image-api.dailyom.com/images/Header_Yoga&Fitness2_1920x1080.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.6);
    color: #ffffff;

    .contentContainer {
        display: flex;
        width: 80%;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin: 2rem auto;

        .greeting {
            min-width: 250px;
            padding: 1rem;
            color: #aa8453;
            letter-spacing: 3px;
            font-weight: 500;
            li {
                padding: 5px;
                padding-right: 2rem;
                list-style: disc;
                border-bottom: 1px solid #aa8453;
            }
        }

        .name {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin: 0 auto;
            margin-left: 0;
            padding: 1rem;
            h1 {
                font-size: 3rem;
                letter-spacing: 10px;
                font-family: serif;
                font-weight: normal;
            }
            p {
                // font-size: 3rem;
                letter-spacing: 2px;
                // font-family: serif;
            }
        }
        @media only screen and (max-width: 1100px) {
            width: 100%;
            flex-direction: column;
        }
        @media only screen and (max-width: 900px) {
            
        }
        @media only screen and (max-width: 500px) {
            .name {
                h1 {
                    font-size: 2rem;
                    letter-spacing: 5px;
                }
            }
        }
    }

    .swiperContainer {
        width: 80%;
        margin: 0 auto;
        // height: 500px;
        background-color: transparent;
        .mySwiper {
            width: 1000px;
            height: 100%;
            z-index: 999;
            .swiperSlide {
                text-align: center;
                font-size: 18px;
                // background: #ffffff;
                padding: 0 100px;
                width: 100%;
                /* Center slide text vertically */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
        @media only screen and (max-width: 1100px) {
            width: 100%;
            .mySwiper {
                width: 100%;
            }
        }
        @media only screen and (max-width: 500px) {
            .mySwiper {
                width: 100%;
                .swiperSlide {
                    font-size: 12px;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}
