// Bass SCSS
$base-bg: #AA8453;
$navbar-height: 3rem;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
