// Bass SCSS
$base-bg: #AA8453;
$component-bg-white: #ffffff;
$component-bg-1: #F6F1F0;
$component-bg-2: #D5C9BB;
$component-bg-3: #181A20;
$navbar-height: 3.5rem;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}